#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_Boodled += debian/examples/*
DEB_INSTALL_MANPAGES_Boodled += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Boodled
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Boodle-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Boodle-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_Boodle
	src/test_Boodle

# Ensure wrapper is set executable
binary-post-install/Boodled:
	chmod +x $(cdbs_curdestdir)usr/bin/Boodled
binary-post-install/Boodle-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Boodle-qt
